@font-face {
    font-family: 'Roboto Standard' ;
    src: url(fonts/roboto/Roboto-Medium.ttf);
    
}

@font-face {
    font-family: 'Roboto Thin';
    src: url(fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Bold';
    src: url(fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'Big Beauty';
    src: url(fonts/Lobster\ Bisque.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Using Zinc Color Pallet provided by tailwindcss  */
:root {
     --50: #fafafa;
    --100: #f4f4f5;
    --200: #e4e4e7;
    --300: #d4d4d8;
    --400: #a1a1aa;
    --500: #71717a;
    --600: #52525b;
    --700: #3f3f46;
    --800: #27272a;
    --900: #18181b;
    --950: #09090b;
    font-family:'Roboto Standard',  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--950);
}

body {
    min-height: 100vh;
    position: relative;
    
}
  /* ---- Header Section ---- */
.background-image {
    background: url(images/susan-q-yin-2JIvboGLeho-unsplash.jpg);
    height: 110px;
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: left;
    align-items: center;
    filter: grayscale(70%);   
}

#heading {
    font-family: 'Big Beauty';
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
    margin-left: 50px;
}

/* ---- Main Container --- */
.container {
    display: grid;
    grid-template-columns: 350px 3fr ;
}

/* ---- Side Bar Info Section ----  */

.sidebar-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
    background: var(--700);
    color: var(--100);
    line-height: 1.2;
    font-size: 16px;
    font-family: 'Roboto Thin';  
    line-height: 1.5;  
}

h2:nth-child(1) {
    font-style: italic;
    text-decoration: none;
}

h2 {
    text-decoration: underline;
    font-family: 'Roboto Bold';
   
}


ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Roboto Thin';
    list-style: upper-roman ;
}

span {
    font-style: italic;
    text-decoration: underline;
}

/* ---- Library Section Styling ---- */

.addbook-section {
    background: var(--500);
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    color: var(--100);
}

img {
    width: 20px;
    height: 20px;
}

button {
    border-radius: 12px;
    padding: 3px 10px;
    cursor: pointer;
    border: 1px solid var(--900);
    display: flex;
    flex-direction: row-reverse;  
}

button:hover {
    background: var(--400);
}

button:active {
    border: 1px solid var(--100);
}

.mybooks-title {
    font-family: 'Big Beauty';
    color: #09090b;
    text-align: center;
    font-size: 40px;   
}

hr {
    width: 50%;
    margin: 0 auto;
}

.books {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 20%));
    grid-auto-flow: row;
    gap: 10px;
    padding: 0 5px;
    margin-top: 10px;
    
}

.books > div {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
    border: 3px solid var(--400);
    width: 20vw;
    border-radius: 12px;
    gap: 10px;
    font-family: 'Roboto Thin';
}

.tick-plus-button {
    position: relative;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 150px;   
}


.read {
    background: green;
}

.read + div {
    color: green;
    font-size: 24px;
}

 /* ---- dialog section input form user ----  */

#dialog-box {
    padding: 5px 10px;  
    border-radius: 10px 20px;
    top: 30%;
    left: 50%;
}

#my-form > div:first-child {
    display: flex;
    justify-content: end;
}

#my-form input {
    font-size: 16px;
    font-family: roboto thin;
    width: 90%;
    padding: 5px;
}

div > label {
    line-height: 2;
}
/* Remove arrow/range from input with type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#my-form h3 {
    font-family: Big Beauty;
    font-size: 32px;
    text-align: center;
    font-style: italic;
    color: var(--700);
    margin: 10px 0;
    padding: 5px;
    border: 2px solid;
    border-image: repeating-linear-gradient(to right,   #E70000 0px, #E70000 16.66666%,   #FF8C00 16.666666%, #FF8C00 33.333333%,   #FFEF00 33.3333333%, #FFEF00 50%,  #00811F 50%, #00811F 66.6666666%,   #0044FF 66.666666%, #0044FF 83.3333333333%,   #760089 83.333333px,#760089 100%) 1;
}

.main-form-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.main-form-content > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px ;
}

.formBtn button {
    align-self: center;
    padding: 5px 10px;
}